.carousel {
  width: 360px;
  height: 360px;
  margin-top: 15%;
  margin-left: 10%;

}


.carousel-item {
  height: 360px;
}
.carousel-item > img {
  object-fit: cover;
  width: 360px;
}

@media only screen and (min-width: 768px) {
  .carousel {
    width: 520px;
    height: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel-item {
    height: 520px;
  }

  .carousel-item > img {
    object-fit: cover;
    width: 520px;
  }
}
