.carousel {
  width: 360px;
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; 
  top: 70px;
  left:700px;
}

.carousel-item {
  object-fit: cover;
  height: 360px;
}

@media only screen and (min-width: 768px) {
  .carousel {
    width: 520px;
    height: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel-item {
    object-fit: cover;
    height: 520px;
  }
}
